:root {
  --primary-color: rgb(189, 189, 2);
  --medium-color: rgb(95, 95, 95);
  --dark-color: rgb(49, 49, 49);
  --light-color: #d1d1d1;
  --code-bgcolor: rgb(138, 138, 138);
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3rem;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: auto;
}

/* NAVIGATION */

nav {
  background-color: black;
  padding: 15px;
}

.nav-container .logo h1 span {
  color: var(--primary-color);
}

/* .nav-container ul {
  display: flex;
}

.nav-container ul li {
  padding: 0 10px;
}

.nav-container a:hover {
  color: var(--primary-color);
} */

/* CONTENT */

.content-container {
  margin: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
}

/* ASIDE */

.content-container aside .mode-change {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-bottom: 10px;
}

.content-container aside .mode-change i {
  padding: 0 5px;
}

.content-container aside .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.content-container aside .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.content-container aside .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-container aside .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-container aside .switch input:checked + .slider {
  background-color: #2196f3;
}

.content-container aside .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.content-container aside .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.content-container aside .switch .slider.round {
  border-radius: 34px;
}

.content-container aside .switch .slider.round:before {
  border-radius: 50%;
}

/* SEARCH BOX */

.content-container aside .search {
  max-width: 100%;
  display: flex;
  margin-top: 5px;
}

.content-container aside .search input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
}

.content-container aside .search button {
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.content-container aside ul {
  margin-top: 20px;

  border: none;
  border-radius: 4px;
}

.content-container aside ul li {
  padding: 15px 15px;
  border-bottom: 1px solid rgb(26, 26, 26);
  text-align: left;
}

.content-container aside ul li:last-child {
  border: none;
}

/* ARTICLE */

.details {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 10px;
}

.details a {
  color: #33aacc;
  font-style: oblique;
}

.details a:hover {
  text-decoration: underline;
}

.details ol {
  padding-left: 30px;
}

.details h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px;
}

.details p {
  margin: 10px;
}

.details code {
  padding: 10px;
  display: block;
  background-color: var(--code-bgcolor);
  border-radius: 0 4px 4px 0;
  border-left: 4px solid rgb(19, 0, 128);
}

table {
  margin: 40px auto;
}

td {
  padding: 3px;
  vertical-align: top;
}

footer {
  background-color: #000000;
  padding: 15px;
  text-align: center;
}

.top-btn button {
  position: fixed;
  bottom: 10px;
  right: 50px;
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  border: none;
  font-size: 40px;
}

.top-btn a {
  color: #fff;
  text-align: center;
}
